@import './globals.css';
@import './variables.css';

/* components */
@import './components/button.css';
@import './components/card.css';
@import './components/header.css';
@import './components/footer.css';

/* home */
@import './components/home/home-hero.css';
@import './components/home/home-services.css';
@import './components/home/testimonials.css';
@import './components/home/home-tabs.css';
@import './components/home/home-cta.css';
