@import "variables.css";
@import "globals.css";

@import "./components/button.css";
@import "./components/search.css";
@import "./components/card.css";
/*@import "./components/sort.css";*/
@import "./components/header.css";
@import "./components/footer.css";
@import "./components/services.css";
@import "./components/gallery.css";
