/*css for the gallery page*/

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
}

.gallery__form {
  margin: 20px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.search-input {
  width: 100%;
  max-width: 320px;
  border: 1.5px solid var(--color-primary);
  border-radius: var(--radius-lg);
  padding: 1rem;
}

.subheading {
  text-align: center;
}
