/*main {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-base);
  padding: 2rem;
}

h1,
h2,
h3 {
  color: var(--color-heading);
}*/

.services__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

/*responsive layout*/
.services__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.service-card {
  height: 100%;
}

.services {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1rem;
}

/*TABLE*/

.pricing {
  padding: 2rem;
}
.pricing-table {
  width: 100%;
  border-collapse: collapse; /* important */
  margin-top: 10px;
}

/* Header cells */
.pricing-table__header {
  padding: 12px 16px;
  text-align: left;
  font-weight: 600;
}

/* Body cells */
.pricing-table__cell {
  padding: 12px 16px;
}

/* Vertical borders */
.pricing-table__header:not(:last-child),
.pricing-table__cell:not(:last-child) {
  border-right: 1px solid var(--color-text-light);
}

/*Horizontal borders between items*/
.pricing-table__row:not(:last-child) {
  border-bottom: 1px solid var(--color-text-light);
}

.pricing-table__head {
  background-color: var(--color-bg);
}

.pricing-table__row:hover {
  background-color: var(--color-white);
}

.subheading {
  text-align: center;
}
